############################################################################
#
# Copyright (C) 2022-2024 Xiaomi Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
############################################################################

config SC_SET_MODEL
	bool "enable set_model security tool"
	default n
	---help---
		This config enable the set_model security tool, which is
		used to get the device infomation (SN, Mac etc..) from the
		stroage device/file system and set to kvdb.

if SC_SET_MODEL

config SC_SET_MODEL_MIIO_PSM_PATH
	string "the data path"
	default "/data/security/"

config SC_SET_MODEL_MIJIA_PRODUCT_NAME
	string "product name"
	default "86v1"

config SC_SET_MODEL_MIJIA_PRODUCT_ID
	string "mijia product id"
	default "9955"

config SC_SET_MODEL_MIJIA_PRODUCT_MODEL
	string "mijia producet model"
	default "xiaomi.controller.86v1"

config SC_SET_MODEL_PRODUCT_XIAOAI_APP_ID
	string "xiaoai application id"
	default "909534731052254208"

config SC_SET_MODEL_PRODUCT_HARDWARE
	string "hardware name"
	default "X4P"

config SC_SET_MODEL_PROGNAME
	string "Program name"
	default "set_model"
	---help---
		This is the name of the set_model that will be used

config SC_SET_MODEL_PRIORITY
	int "set model test task priority"
	default 100

config SC_SET_MODEL_STACKSIZE
	int "set model test stack size"
	default 4096

endif
